<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %> on <%= category %> modern</p>
<div>
    <span>Hostname: </span><span><%= hostname %></span>
</div>
<div>
    <%= networkInterfaces %>
</div>
</body>
</html>
